<!doctype html>
<div class="container-fluid">
<div class="shadow p-3 mb-5 bg-light rounded border"><img src="./assets/gyra-xs.png">
  <div class="card-header border float-right rounded">
      <h6 class="align-baseline" style="padding-bottom: 5px; font-weight: bolder;">for Scavenger</h6>
    <img src="./assets/scavenger.png" width="80px"><br>
    <span class="badge badge-info align-items-center">v1.7.6</span>&nbsp;
    <span class="badge badge-info align-items-center">v1.7.8</span>
  </div>
</div>
</div>
      <a routerLinkActive="active" routerLink="config" class="text-decoration-none"></a>
<router-outlet></router-outlet>


