<!doctype html>
<div class="card">
  <div class="card-header bg-dark text-white">
   Welcome to {{ title }}!
  </div>
  <div class="card-body">
    <div class="row">
    <div class="col-6">
      <h3><a routerLinkActive="active" routerLink="config" class="text-decoration-none"><p class="text-body">Scavenger Configuration</p></a></h3>
      <span class="badge badge-info">v1.7.2</span>&nbsp;
      <span class="badge badge-info">v1.7.4</span>
    </div>

   <!-- <div class="col-6">
      <h3><a routerLinkActive="active" routerLink="confige"><p class="text-body">Engraver</p></a></h3>
    </div> -->
  </div>
  </div>

<router-outlet></router-outlet>
</div>

